.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2vmin;
  background-color: #3f4550;
  color: white; 
}

.NavBar span {
  color: rgb(255, 121, 226); 
}

Link {
  color: white; 
  text-decoration: none;
}

.NavBar a {
  color: white; 
  text-decoration: none; 
}